<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="Entities" value="Resources/Entities.xml"/>
    <add key="Mappings" value="Resources/Mappings.xml"/>
    <add key="Storage" value="Resources/Database.xml"/>
    <add key="License" value="Resources/MIT.txt"/>
    <add key="NotGetterMethods" value="AcceptsFirstResponder,Alloc,Autorelease,BecomeFirstResponder,ClearContents,CloseTray,Copy,CreateCommandInstance,CreateViewController,DecodeDataObject,DecodeNXColor,DecodeNXObject,DecodeObject,DecodePoint,DecodePortObject,DecodePropertyList,DecodeRect,DecodeSize,DetachFromCurrentThread,Draw,EjectMedia,EstimateLength,ExecuteCommand,Flatten,ForceTerminate,GoBack,GoForward,Hide,Init,Load,MutableCopy,NextObject,New,OpenTray,Pause,Play,Resume,Retain,RunModal,Save,Set,Stop,Suspend,Terminate,Unhide,Unload"/>
  </appSettings>

</configuration>
